
   *{
    margin: 0;padding: 0;
  }
  html,body{
    width: 100%;
    font-size: 14px;
  }
  .page{
    width: 100%;
  }
  .p20{
    padding: 20px;
  }
  .user-info{
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
  }
  .user-info tr th{
    border-right: 1px solid #000;
  }
  .user-info tr td{
    text-align: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .user-info tr{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }